@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transfotm: translateX(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transfotm: translateX(0);
  }
}
@keyframes UP {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transfotm: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:last-child {
  margin-bottom: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background-color: white;
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  pozition: relative;
  z-index: 0;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/Header-Background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 85%);
          clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 85%);
}
.header__logo {
  position: absolute;
  width: 5.6rem;
  height: 7rem;
  top: 5rem;
  left: 5rem;
}
.header__main-button {
  border-width: 0;
  width: 27.7rem;
  height: 5.4rem;
  background: include(red);
  border-radius: 5rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  color: #777777;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100%;
  text-align: center;
}

.title-first {
  color: #ffffff;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: easy;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  animation-fill-mode: backwards;
}
.title-first__secondary {
  display: block;
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: RightToLeft;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: easy;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 65px;
  animation-fill-mode: backwards;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
}

.title-secondary {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0rem 0.4rem 4rem rgba(0, 0, 0, 0.75);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-secondary_white {
  color: #ffffff;
  position: relative;
  z-index: 3;
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
  font-weight: 400;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.text-center {
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  transition: all 1s;
  z-index: 3;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.6);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn::after {
  content: "";
  background: White;
  width: 100%;
  height: 100%;
  border-radius: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn_animation {
  animation-name: UP;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.btn__reserve-tour {
  margin-top: 3rem;
  border-radius: 50rem;
  overflow: hidden;
}
.btn__reserve-tour, .btn__reserve-tour:link, .btn__reserve-tour:visited {
  background: #A14F03;
  color: #A14F03;
  border-radius: 50rem;
}
.btn__reserve-tour:active, .btn__reserve-tour:link:active, .btn__reserve-tour:visited:active {
  background: #A14F03;
}

.btn-text, .btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #BA8554;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px #A14F03 solid;
  display: inline-block;
  transition: 0.5 all;
  border: 0;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  position: absolute;
  transition: all 0.3s;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  z-index: 0;
  top: 0;
  left: 2rem;
}
.composition__photo_n2 {
  z-index: 1;
  top: 10.5rem;
  left: 29rem;
}
.composition__photo_n3 {
  z-index: 2;
  top: 20rem;
  left: 4rem;
}
.composition__photo:hover {
  transform: scale(1.1);
  z-index: 4;
  outline: 0.5rem solid #BA8554;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.adventure-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s all;
}
.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.adventure-card_icon {
  display: inline-block;
  font-size: 6rem;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
}

.tour-card {
  height: 50rem;
  transition: 1s all;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.tour-card__side {
  position: absolute;
  height: 50rem;
  transition: 0.7s all ease-out;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  overflow: hidden;
}
.tour-card__side_back {
  background: green;
  transform: rotateY(180deg);
  background: linear-gradient(120deg, #BA8554, #A14F03);
}
.tour-card:hover .tour-card__side_front {
  transform: rotateY(-180deg);
}
.tour-card:hover .tour-card__side_back {
  transform: rotateY(0deg);
}
.tour-card__img {
  background-bland-mode: hard-light;
  height: 21rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.tour-card__img_1 {
  background: #BA8554 url(../img/card-1.jpg) center/cover no-repeat;
}
.tour-card__img_2 {
  background: #BA8554 url(../img/card-2.jpg) center/cover no-repeat;
}
.tour-card__img_3 {
  background: #BA8554 url(../img/card-3.jpg) center/cover no-repeat;
}
.tour-card__title {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 17rem;
  right: 0rem;
}
.tour-card__span {
  background: linear-gradient(90deg, #BA8554, #A14F03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.tour-card__span_2 {
  position: absolute;
  top: 3.2rem;
  right: 0rem;
  padding-bottom: 1rem;
}
.tour-card__descr ul {
  list-style: none;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.tour-card__descr ul li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  border-bottom: 0.1rem solid #777777;
  display: inline-block;
}
.tour-card__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.tour-card__backSide-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tour-card__text {
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.tour-card__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.tour-card__text_2 {
  font-size: 6rem;
  font-weight: 500;
}

.feedback-card {
  width: 75%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(-15deg);
  margin-bottom: 8rem;
  position: relative;
  z-index: 3;
}
.feedback-card > * {
  transform: skewX(15deg);
}
.feedback-card__img {
  width: 15rem;
  height: 15rem;
  float: left;
  border-radius: 100rem;
  shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.feedback-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: 1s all;
}
.feedback-card__name {
  transition: 1s all;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  text-align: center;
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
}
.feedback-card:hover .feedback-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(60%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7));
}

.book {
  height: 50rem;
  background: linear-gradient(115deg, rgba(251, 251, 251, 0.8) 0%, rgba(240, 240, 241, 0.8) 56%, rgba(186, 133, 84, 0.8) 57%, rgba(161, 79, 3, 0.8) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  overflow: hidden;
}

.form {
  width: 60%;
  padding-top: 5rem;
  padding-left: 5rem;
}
.form__group:not(:last-child) {
  margin-bottom: 5rem;
}
.form__input {
  form-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #000000;
  padding: 2rem 0rem 2rem 2rem;
  background: #ffffff;
  border: none;
  border-bottom: 0.3rem solid transparent;
  border-radius: 0.5rem;
  width: 60%;
}
.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66D763;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}
.form__label {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  displat: block;
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: 0.7s all;
  display: block;
}
.form__input-radio {
  display: none;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__group-radio {
  width: 40%;
  display: inline-block;
}
.form__label-radio {
  position: relative;
  cursor: pointer;
  padding-left: 4rem;
}
.form__button-radio {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #A14F03;
  display: block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__button-radio::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #A14F03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s all;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.row {
  max-width: 144rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.footer {
  padding: 8rem;
  background: #333333;
}
.footer__logo {
  width: 12rem;
}
.footer__list {
  list-style: none;
  text-align: center;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
.footer__link:link, .footer__link:visited {
  color: #777777;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  transition: 1s all;
  display: inline-block;
}
.footer__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #A14F03;
}

.section-about {
  padding-top: 8rem;
  padding-bottom: 14rem;
}

.section-advantages {
  padding: 21rem 0;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/section-advantages-Background.jpg) center/cover no-repeat;
  transform: skewY(7deg);
}
.section-advantages > * {
  transform: skewY(-7deg);
}

.section-tour {
  padding: 21rem 0;
}

.section-feedback {
  position: relative;
  padding: 8rem 0;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, #BA8554, #A14F03);
}/*# sourceMappingURL=style.css.map */