*
    margin: 0
    padding: 0
    box-sizing: border-box
    &:last-child
        margin-bottom: 0

// Задаю значение rem кратное 10px
html
    font-size: 62.5%
    @include respond(tab-land)
        font-size: 56.25%
    @include respond(tab-port)
        font-size: 50%
    @include respond(phone)
        font-size: 30%
    @include respond(big-screen)
        font-size: 75%

body
    padding: 5rem
    background-color: white

// Задаю прозрачность фону
.container
    background-color: transparentize(white, 0.4)
    pozition: relative
    z-index: 0
